<?php

/**
 * @var $block \Magento\Framework\View\Element\Template
 */
?>

<button id="click_me"><?= __('Click Me'); ?></button>

<script type="text/x-magento-init">
    {
        "*": {
            "Mbs_AjaxCall/js/clickme": {
                "ajaxUrl": "<?php echo $block->getUrl('mbsajaxdummy'); ?>"
            }
        }
    }
</script>